.input-component {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-component input{
    padding: 1rem 10px;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: var(--white-color);

}